* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
    box-shadow: 0px 1px 3px black;
}

.logo {
    position: relative;
    font-size: 25px;
    color: blue;
    text-decoration: none;
    font-weight: 700;
}